%h1 Devices

%ul
  - @devices.each do |device|
    - last_event = device.events.where(event_type: 'status').last
    %li
      %strong= device.name || device.device_key
      - if last_event
        = last_event.value
        %br
        = time_ago_in_words last_event.created_at
        ago
